<h1>Demo page for stuff....</h1>
<h2 id="time"></h2>

<button class="btn btn-lg btn-danger">Click me!!</button>
<h1>Current Count: <span id="count"></span></h1>

@section scripts
{
    <script src="/Scripts/demo.js"></script>
}